<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-frame-options" content="sameorigin">
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<title>movistar</title>
<link href="/mhs/css/style.css" rel="stylesheet" type="text/css" />
<!--<script src="/mhs/js/jquery.1.4.2-min.js" type="text/javascript"></script>-->
<!--<script src="/mhs/js/jquery-page.js" type="text/javascript"></script>-->
<!--Botton-->
<link type="text/css" rel="stylesheet" href="/mhs/css/ui.switchbutton.min.css" />
<script type="text/javascript" src="/mhs/js/jquery-1.6.3.min.js"></script>
<script type="text/javascript" src="/mhs/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/mhs/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/mhs/js/main.js"></script>
<script type="text/javascript" src="/mhs/js/jquery.switchbutton.min.js"></script>
<script type="text/javascript" src="/mhs/js/networkMap/applications.js"></script>
<script type="text/javascript" src="/mhs/js/index.js"></script>
<script type="text/javascript" src="/mhs/js/jquery.json-2.2.js"></script>
<script type="text/javascript" src="/mhs/js/jquery.utils.homestation.min.js"></script>
<script type="text/javascript" src="/mhs/js/languages.js"></script>

</head>

<body> <!--top-->
 <!--wrapper-->
<div class="wrapper">
<div class="wrapper2">
<div id="pageloading" style="display: none" >
  <div id="loadingimg"><img src="/mhs/images/loading.gif" width="102" height="116" /></div>
</div>
    <div class="topBorder">
            <div class="top_LLBox"><div id="home"><img src="/mhs/img/meun.png" width="45" height="45" /></div><div id="menu" class="toptitle2">MENÚ</div>
            	<div id="pagemenu" class="menuList">
                	<ul>
                    	<!--li><a href="InicioLogout.cmd">Inicio</a></li-->
                        <li><a href="mhs.html">WiFi</a></li>
                        <li><a href="wifi5g.html">WiFi Plus</a></li>
                        <li><a href="wifisecond.html">WiFi Invitados</a></li>
                        <li><a href="PortForwardWizard.cmd?page=1">Puertos</a></li>
                        <li class="sec"><a href="#">Red local&nbsp;></a>
                        	<ul>
                            	<li><a href="networkmap.html">Mapa de red local</a></li>
                                <li><a href="lan_v4.html">Red Local</a></li>
                            </ul>
                        </li>
                        <li><a href="multipuesto.html">Multipuesto / Monopuesto</a></li>
                        <li><a href="lan_v6.html">IPv6</a></li>
                        <li><a href="changepasswd.html">Cambio contraseña del router</a></li>
                        <li><a href="firmwareupgrad.html">Actualizaciones Firmware</a></li>
                        <li><a href="configsetting.html">Otras funcionalidades</a></li>
                        <li class="sec"><a href="#">Ayuda&nbsp;></a>
                        	<ul>
                            	<li><a href="wizard_help.html">Ayuda configurador web</a></li>
                                <li><a href="sysinfo.html">Acerca de</a></li>
                            </ul>
                        </li>
                        <li><a href="advancedsettings.html">Configuración avanzada</a></li>
                    </ul></div>
                </div>
            <div class="top_CBox toptitle">Acceso al Configurador Router</div>
            <div class="top_RRBox logoBox_in"><img src="/mhs/img/logo.png"/></div>
    </div><!--top END-->
    <!--stlye_mins-->
    	<div class="topBorder2">
            <div class="toptitle2">Acceso al Configurador Router</div>
    	</div>
    <!--stlye_mins end-->
    <div class="mainBorder"><div class="items"><a href="javascript:void(0)" onclick="logoutBtu();">Cerrar sesión</a></div></div>
    <!--location-->
    <div class="locationTitle">Red Local</div><!--location end-->
    
    <!--MAIN-->
<div class="mainBorder">
<div id="logout" class="finBox">
    	<div class="artBox">¿Está seguro de que desea cerrar la sesión?<br/>
            </div>
            <div class="artBox">
              <div class="leftBtu"><input type="button" name="button" id="button" value="Cancelar" class="checkBtu" onclick="closeDiv();"/></div>
              <div class="rightBtu"><input type="button" name="button" id="button" value="Aceptar" class="checkBtu" onclick="javascript:location.href='logout.cmd'"/></div>
            </div>
    </div>
		<div class="artBox">
        <div class="tabBorder">
            <div class="tabID">Red Local</div><div class="tabInput">
              <input type="text" name="uiViewIPAddrv4" id="uiViewIPAddrv4" class="chooseBox"  VALUE="<% ejGet(ethIpAddress) %>" onBlur="Checkv4IPAdress(this);getDefaultDHCPStart(uiViewIPAddrv4,StartIpv4); setDhcpAddresses();"  size="32" />
            </div>
  		</div>
        
        <div class="tabBorder">
            <div class="tabID">Máscara de subred</div><div class="tabInput">
              <input type="text" name="uiViewNetMaskv4" id="uiViewNetMaskv4" class="chooseBox" maxlength=15 VALUE="<% ejGet(ethSubnetMask) %>" onBlur="Subnetv4Check(this); setDhcpAddresses();" size="32"/>
            </div>
  		</div>
        
        <div class="tabBorder">
            <div class="tabID">DHCP</div><div class="tabInput">
              <select name="select4" class="chooseBox" id="dhcpv4_status" onchange="lanv4statusmodified(this);">
                <option value="1">ACTIVADO</option>
                <option value="0">DESACTIVADO</option>
              </select>
            </div>
  		</div>
        <div id="lanv4Conf" style="display:none">
        <div class="tabBorder">
          <div class="tabID2">Dirección IP inicio rango</div><div class="tabInput"><input type="text" name="StartIpv4" id="StartIpv4" class="chooseBox" SIZE="32" MAXLENGTH="15" VALUE="<% ejGet(dhcpEthStart) %>" onBlur="Checkv4IPAdress(this)"/></div></div>
        <div class="tabBorder">
          <div class="tabID2">Dirección IP fin rango</div><div class="tabInput"><input type="text" name="EndIpv4" id="EndIpv4" class="chooseBox" SIZE="32" MAXLENGTH="15" VALUE="<% ejGet(dhcpEthEnd) %>" onBlur="Checkv4IPAdress(this)"/></div> </div>		
        </div>
       	<div class="tabBorder">Configurador de servidores DNS (se recomienda no modificar)</div>
        
        <div class="tabBorder_46">
          <div class="tabID">Servidor DNS1</div><div class="tabInput">
            <input type="text" name="PrimaryDnsv4" id="PrimaryDnsv4" class="chooseBox" MAXLENGTH="15" VALUE="<% ejGet(dhcpDnsPrimary) %>" onBlur="Checkv4IPAdress(this)" />
          </div></div>
         
         <div class="tabBorder_46">
           <div class="tabID">Servidor DNS2</div><div class="tabInput">
           <input type="text" name="SecondDnsv4" id="SecondDnsv4" class="chooseBox"SIZE="32" MAXLENGTH="15" VALUE="<% ejGet(dhcpDnsSecondary) %>"  onBlur="Checkv4IPAdress(this)" />
         </div></div>
		 <div class="tabBorder_46">
            <div class="rightBtu"><input type="button" name="button" id="acceptApp" value="Aplicar Cambios" class="checkBtu" onclick="lanaccept()" /></div>
         </div>
	   </div>
	   <div id="fin" class="fin_item">
           <ul>
             <li id="calltab1"><a class="finBox" id="alink" href="#tab1">alink</a></li>
             <li id="calltab2"><a class="finBox" id="alink2" href="#tab2">alink2</a></li>
           </ul>
        </div><!--fin-->

		<div id="tab1" class="finBox">
            <div class="artBox" id="content" align="center">content<br/>
            </div>
            <div class="artBox">
                <div align="center"><input  name="button" id="button" value="Cerrar" style="text-align:center" class="checkBtu2" onclick="closeDiv();"/></div>
            </div>
        </div><!-- #tab1 finBox end-->
         <div id="tab2" class="finBox">
            <div class="artBox" id="content2" align="center">content<br/>
            </div><!--artBox-->
            <div class="artBox">
                <div align="center"><input  name="button" id="button" value="Cerrar" style="text-align:center" class="checkBtu2" onclick="closeDiv2();"/></div>
            </div>
        </div><!-- #tab2 finBox end-->
</div><!--main END-->
    
    <!--footer-->
    <div class="footerBorder">
    © Telefónica de España S.A.U. Todos los derechos reservados v 1.1
    </div><!--footer END-->
	
</div></div><!--wrapper END-->

</body>
<script type="text/javascript">
$(document).ready(function() {
    var dhcpServer = <%ejGet(enblDhcpSrv)%>;
    
		
	$.fx.speeds._default = 500;
	jQuery.getJSON('/mhs/config.json', function(data, textStatus){
		//STATUS = data.STATUS;
		CONFIG = data.CONFIG;
		configurationLoaded();
	});
	
	lanv4statusmodified(document.getElementById("dhcpv4_status"));	
			
	if(dhcpServer){		
		document.getElementById("lanv4Conf").style.display="";
		document.getElementById("dhcpv4_status").options[0].selected=true;
	}else{
		document.getElementById("lanv4Conf").style.display="none";
		document.getElementById("dhcpv4_status").options[1].selected=true;		
	}	
			
	setDhcpAddresses();	
});

function getDefaultDHCPStart(sourceIP, startIP) 
{
	var IP = sourceIP.value;
	IP = IP.replace(/ /g, "");
	sourceIP.value = IP;
	IPsplit = IP.split(".");
	if(IPsplit.length != 4)
	   return;

    IPsplit[3]="33";

	startIP.value = IPsplit[0]+"."+IPsplit[1]+"."+IPsplit[2]+"."+IPsplit[3];
	  //alert(startIP.value);
}	

function Checkv4IPAdress(object)
{
	var IP = object.value;
	IP = IP.replace(/ /g, "");
	IPsplit = IP.split(".");
	var sub = document.getElementById("alink");
	var sub2 = document.getElementById("alink2");

	if(IPsplit.length != 4 )
	{
      	//alert("INVALID_IPV4_ADDRESS_MSG");
		//alert(_("INVALID_IPV4_ADDRESS_MSG"));
		$('#content').text(_("INVALID_IPV4_ADDRESS_MSG"));
		sub.click();
		return (false);
	}
	for(i = 0; i < 4; i++)
	{
		if((isNaN(IPsplit[i])) || (IPsplit[i] == 'undefined') || (IPsplit[i] == "")) 
		{
      		//alert("INVALID_IPV4_ADDRESS_MSG");
			//alert(_("INVALID_IPV4_ADDRESS_MSG"));
			$('#content').text(_("INVALID_IPV4_ADDRESS_MSG"));
			sub.click();
			return (false);
		} 
		else
		{
			if((parseInt(IPsplit[i], 10) > 255) || (parseInt(IPsplit[i], 10) < 0)) 
			{
      			//alert("INVALID_IPV4_ADDRESS_MSG");
				//alert(_("INVALID_IPV4_ADDRESS_MSG"));
				$('#content').text(_("INVALID_IPV4_ADDRESS_MSG"));
				sub.click();
				return (false);
			}
		}
	}
	int_add0=parseInt(IPsplit[0], 10);
	int_add3=parseInt(IPsplit[3], 10);			
	if(int_add0 == 0 || int_add0 == 127 || int_add0 > 223 || int_add3 ==0 || int_add3 ==255)
	{
      	//alert("INVALID_IPV4_ADDRESS_MSG");
		//alert(_("INVALID_IPV4_ADDRESS_MSG"));
		$('#content').text(_("INVALID_IPV4_ADDRESS_MSG"));
		sub.click();
		return (false);
	}		
	
	var sIpv4 = $("#StartIpv4").attr("value");
	var eIpv4 = $("#EndIpv4").attr("value");
	if((eIpv4.split(".").pop() - sIpv4.split(".").pop()) < 0)
	{
		//alert("end value is less than start.");
		//alert(_("INVALID_IPV4_ADDRESS_MSG"));
		$('#content').text(_("INVALID_IPV4_ADDRESS_MSG"));
		sub.click();
	}
	
	return (true);
}

function Subnetv4Check(object)
{	
	var sub = document.getElementById("alink");
	var sub2 = document.getElementById("alink2");
	var mask=object.value;
	if ( !((mask == "0.0.0.0")||
	(mask == "128.0.0.0")||
	(mask == "192.0.0.0")||
	(mask == "224.0.0.0")||
	(mask == "240.0.0.0")||
	(mask == "248.0.0.0")||
	(mask == "252.0.0.0")||
	(mask == "254.0.0.0")||
	(mask == "255.0.0.0")||
	(mask == "255.128.0.0")||
	(mask == "255.192.0.0")||
	(mask == "255.224.0.0")||
	(mask == "255.240.0.0")||
	(mask == "255.248.0.0")||
	(mask == "255.252.0.0")||
	(mask == "255.254.0.0")||
	(mask == "255.255.0.0")||
	(mask == "255.255.128.0")||
	(mask == "255.255.192.0")||
	(mask == "255.255.224.0")||
	(mask == "255.255.240.0")||
	(mask == "255.255.248.0")||
	(mask == "255.255.252.0")||
	(mask == "255.255.254.0")||
	(mask == "255.255.255.0")||
	(mask == "255.255.255.128")||
	(mask == "255.255.255.192")||
	(mask == "255.255.255.224")||
	(mask == "255.255.255.240")||
	(mask == "255.255.255.248")||
	(mask == "255.255.255.252")||
	(mask == "255.255.255.254")||
	(mask == "255.255.255.255")) )
	{
		//alert(_("INVALID_IPV4_ADDRESS_MSG"));
		$('#content').text(_("INVALID_IPV4_ADDRESS_MSG"));
		sub.click();
		return (false);
	}    
	return (true);
}

function setDhcpAddresses() 
{
   var ipArr = [0, 0, 0, 0],  maskArr = [0, 0, 0, 0], startArr = [0, 0, 0, 0],  endArr = [0, 0, 0, 0];
   var tmpStartArr, tmpEndArr;
   var poolaccount= getIPv4DHCPPoolCount();
   var sub = document.getElementById("alink");
   var sub2 = document.getElementById("alink2");
   
      lanIp = $("#StartIpv4").attr("value");
      subnetMask = $("#uiViewNetMaskv4").attr("value");
      if ( checkIPFormat(lanIp) == false ) {
         //alert('Address "' + lanIp + '" is invalid IP address.');		 
         return;
      }
      if ( SubnetCheck(subnetMask) == false ) {
         //alert('Address "' + subnetMask + '" is invalid IP address.');
         return;
      }      
      addrParts = lanIp.split('.');
      maskParts = subnetMask.split('.');       
      if ( addrParts.length != 4 || maskParts.length != 4) {
         //alert('Invalid ip/subnetMask');
         return;
      }         
      for (i = 0; i < 4; i++) {
        ipArr[i] = parseInt(addrParts[i]);
        startArr[i] = parseInt(addrParts[i]);
        endArr[i] = parseInt(addrParts[i]);
        maskArr[i] = parseInt(maskParts[i]);
      }
      m3 = maskArr[3];
      bcast = 255;
      n3 = 0;
      if (maskArr[0] == 255 && maskArr[1] == 0 &&  maskArr[2] == 0 && maskArr[3] == 0) {
        /* 255.0.0.0 is only class A supported */
        endArr[1] = 255;
        endArr[2] = 255;
      }
      else if (maskArr[0] == 255 && maskArr[1] == 255 &&  maskArr[2] == 0 && maskArr[3] == 0) 
        /* 255.255.0.0 is only class B supported */
        endArr[2] = 255;
      else if ((maskArr[0] == 255 && maskArr[1] == 255 &&  maskArr[2] == 255 ) &&
               (m3 == 0 || m3 == 128 || m3 == 192 || m3 == 224 || m3== 240 || m3 == 248 ||  m3 == 252)) {
        /* 255.255.255.0/128/192... class C supported */
        n3 = ipArr[3] & m3;
        hosts = 255 - m3;
        bcast = n3 + hosts;
      }
      else {
        //alert("Only support subnet mask: Class A: 255.0.0.0; Class B: 255.255.0.0 and Class C: 255.255.255.0/255.255.255.128/255.255.255.192/255.255.255.224/255.255.255.240/255.255.255.248/255.255.255.252.");
		//alert("Only support subnet mask: Class A: 255.0.0.0; Class B: 255.255.0.0 and Class C: 255.255.255.0/255.255.255.128/255.255.255.192/255.255.255.224/255.255.255.240/255.255.255.248/255.255.255.252.");
		$('#content').text("Only support subnet mask: Class A: 255.0.0.0; Class B: 255.255.0.0 and Class C: 255.255.255.0/255.255.255.128/255.255.255.192/255.255.255.224/255.255.255.240/255.255.255.248/255.255.255.252.");
		sub.click();
        return;         
      }
      if (ipArr[3] == bcast) {
        //alert('Ip address cannot be same as the broadcast ip address.');
		//alert("Ip address cannot be same as the broadcast ip address.");
		$('#content').text("Ip address cannot be same as the broadcast ip address.");
		sub.click();
        return;
      }
      tmpStartArr = tmpEndArr = "";      	 
      for (i = 0; i < 3; i++) {
         tmpStartArr =  tmpStartArr + startArr[i] + ".";
         tmpEndArr = tmpEndArr + endArr[i] + ".";
      }
      if (ipArr[3] == (bcast-1)) {
        startArr[3] = n3 + 1;
        endArr[3] = bcast -2;
      }
      else {
        startArr[3] = ipArr[3] + 1;
        //endArr[3] = bcast -1;
		endArr[3] =ipArr[3] + poolaccount - 1;
      } 
	  tmpStartArr = tmpStartArr + startArr[3];
	  tmpEndArr = tmpEndArr + endArr[3];	  
     
      $("#EndIpv4").attr("value",tmpEndArr);   	  
}


function trim(s)
{
    var l=0; var r=s.length -1;
    while(l < s.length && s[l] == ' ')
    {     l++; }
    while(r > l && s[r] == ' ')
    {     r-=1;     }
    return s.substring(l, r+1);
} 

var lanv4warningsactived = false;

function lanv4statusmodified(check){
	var sub = document.getElementById("alink");
	var sub2 = document.getElementById("alink2");
	switch(check.selectedIndex)
	{
		case 0:
			setTimeout("activedLANv4();", 0);
			break;
		case 1:
			if (lanv4warningsactived) {
				showInfoDialog($("#wifi_alert1").html(), false, true, function(resp){
					if (resp == true) 
						setTimeout('deactivedLANv4();', 0);
					else {
						$('#wifi_status').attr('checked', true).change();
					}
				});
			}
			else 
				setTimeout("deactivedLANv4();", 0);
			break;
		default:		
			//alert(_("error!"));
			$('#content').text(_("error!"));
			sub.click();
	}
}

function activedLANv4(){
    $("#lanv4Conf").css('display', 'block');
    $("#lanv4Conf").show();
}

function deactivedLANv4(){
    $("#lanv4Conf").hide();
}

function checkIPFormat(address)
{
	var IP = address;
	IP = IP.replace(/ /g, "");
	address = IP;
	IPsplit = IP.split(".");
	if(IPsplit.length != 4 )
	{
		return (false);
	}
	for(i = 0; i < 4; i++)
		if((isNaN(IPsplit[i])) || (IPsplit[i] == 'undefined') || (IPsplit[i] == "")) 
		{
			return (false);
		} 
		else
		{
			if((parseInt(IPsplit[i], 10) > 255) || (parseInt(IPsplit[i], 10) < 0)) 
			{
				return (false);
			}
		}
		
	int_add0=parseInt(IPsplit[0], 10);
	int_add3=parseInt(IPsplit[3], 10);			
	if(int_add0 == 0 || int_add0 == 127 || int_add0 > 223 || int_add3 ==0 || int_add3 ==255)
	{
		return (false);
	}		
	return (true);
}

function SubnetCheck(mask)
{	
	if ( !((mask == "0.0.0.0")||
	(mask == "128.0.0.0")||
	(mask == "192.0.0.0")||
	(mask == "224.0.0.0")||
	(mask == "240.0.0.0")||
	(mask == "248.0.0.0")||
	(mask == "252.0.0.0")||
	(mask == "254.0.0.0")||
	(mask == "255.0.0.0")||
	(mask == "255.128.0.0")||
	(mask == "255.192.0.0")||
	(mask == "255.224.0.0")||
	(mask == "255.240.0.0")||
	(mask == "255.248.0.0")||
	(mask == "255.252.0.0")||
	(mask == "255.254.0.0")||
	(mask == "255.255.0.0")||
	(mask == "255.255.128.0")||
	(mask == "255.255.192.0")||
	(mask == "255.255.224.0")||
	(mask == "255.255.240.0")||
	(mask == "255.255.248.0")||
	(mask == "255.255.252.0")||
	(mask == "255.255.254.0")||
	(mask == "255.255.255.0")||
	(mask == "255.255.255.128")||
	(mask == "255.255.255.192")||
	(mask == "255.255.255.224")||
	(mask == "255.255.255.240")||
	(mask == "255.255.255.248")||
	(mask == "255.255.255.252")||
	(mask == "255.255.255.254")||
	(mask == "255.255.255.255")) )
	{
		return (false);
	}    
	return (true);
}

function getIPv4DHCPPoolCount(){
	var startIP=$("#StartIpv4").attr("value");
	var endIP=$("#EndIpv4").attr("value");
		
	sIPsplit = startIP.split(".");
	eIPsplit = endIP.split(".");
	
	poolaccount=eIPsplit[3] - sIPsplit[3] + 1;
	
	return poolaccount;
}

function prepareLANJSON(){
	var key = new Object();
	key.sessionKey=<% ejGetOther(sessionKey)%>;
    var lanv4 = new Object();
	lanv4.IPAddr = $("#uiViewIPAddrv4").attr("value");
	lanv4.Mask = $("#uiViewNetMaskv4").attr("value");
	var dhcpv4 = new Object();
    dhcpv4.status = parseInt($("#dhcpv4_status").val());
	
	//alert("dhcpv4.status:"+dhcpv4.status +"dhcpv4_status"+$("#dhcpv4_status").val());
	/*
    if (dhcpv4.status == 0){
		dhcpv4.status = 1;
	}
	else
	{
		dhcpv4.status = 0;
	}
	*/
	
	if (dhcpv4.status) {
        dhcpv4.poolStart = $("#StartIpv4").attr("value");
		//dhcpv4.PoolSize = getIPv4DHCPPoolCount();		
		dhcpv4.PoolEnd = $("#EndIpv4").attr("value");		
    }	
    var dnsv4 = new Object();
	dnsv4.PrimaryDns = $("#PrimaryDnsv4").attr("value");
	dnsv4.SecondDns = $("#SecondDnsv4").attr("value");
 
    var LANJSON = new Object();
	LANJSON.KEY = key;
    LANJSON.LANV4 = lanv4;
    LANJSON.DHCPV4 = dhcpv4;
    LANJSON.DNSV4 = dnsv4;

    var LANJSONstring = $.toJSON(LANJSON);
    return LANJSONstring;
}

function checkIPandIPv4IPFormat(LANJSON){
	var postData = eval ("(" + LANJSON + ")");
	var sub = document.getElementById("alink");
	var sub2 = document.getElementById("alink2");
			
	if(SubnetCheck(postData.LANV4.Mask)==false || checkIPFormat(postData.LANV4.IPAddr)==false)
	{
      	//alert(_("INVALID_IPV4_ADDRESS_MSG"));
      	$('#content').text(_("INVALID_IPV4_ADDRESS_MSG"));
		sub.click();
        return false;
     }
	if(postData.DHCPV4.status){
		if(checkIPFormat(postData.DNSV4.PrimaryDns)==false || checkIPFormat(postData.DNSV4.SecondDns)==false
			|| checkIPFormat(postData.DHCPV4.poolStart)==false){
      	//alert(_("INVALID_IPV4_ADDRESS_MSG"));
      	$('#content').text(_("INVALID_IPV4_ADDRESS_MSG"));
		sub.click();
        return false;
     }
	}	
	
	return true;
}

function lanaccept(){
    lanv4warningsactived = false;
    var LANJSON = prepareLANJSON();
	var sub = document.getElementById("alink");
	var sub2 = document.getElementById("alink2");   
			
	if(checkIPandIPv4IPFormat(LANJSON)==false)
		return;

	loadingProcess();
	
    setLANConfiguration2(LANJSON, function(success, error_desc){
        if (!success) {
            //alert(_(error_desc));
            $('#content').text(_(error_desc));
			sub.click();
        } else {
            window.location.reload();			
        }
    });   
}


//returnJSON structure 
function setLANConfiguration2(LANJSON, callback){
	var postData = eval ("(" + LANJSON + ")");
	var dhcpstatusv4= postData.DHCPV4.status;

	if(dhcpstatusv4)
	{
		postData.DHCPV4.status=1;
		$.ajax({
			url: 'lan_v4.cmd',
			dataType: 'json',
			type:'post',
			cache: false,
			complete: callback,
			data: {
				submitValue: "Apply",
				sessionKey: postData.KEY.sessionKey,
				IPAddrv4: postData.LANV4.IPAddr,
				Maskv4: postData.LANV4.Mask,
				dhcpstatusv4: postData.DHCPV4.status,		
				poolStartv4: postData.DHCPV4.poolStart,
				PoolEndv4:postData.DHCPV4.PoolEnd,
				PrimaryDnsv4: postData.DNSV4.PrimaryDns,
				SecondDnsv4: postData.DNSV4.SecondDns
			}
		});
    }
    else
	{
		postData.DHCPV4.status=0;
		$.ajax({
			url: 'lan_v4.cmd',
			dataType: 'json',
			type:'post',
			cache: false,
			complete: callback,
			data: {
				submitValue: "Apply",
				sessionKey: postData.KEY.sessionKey,
				IPAddrv4: postData.LANV4.IPAddr,
				Maskv4: postData.LANV4.Mask,
				dhcpstatusv4: postData.DHCPV4.status
			}
		});
	}
}

function loadingProcess(){
	$("#pageloading").css("display","block");
	$("#pageloading").fadeOut(5000)
}
 </script>
</html>